//Includes, Mixins et Variables

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin commetuveux($quelquechose){
  margin : $quelquechose;
  padding : $quelquechose;
}

$font : Quicksand;

/*GENERAL*/

body{
  margin: 0;
}

/*HEADER*/

header{
  box-shadow: 0px 0px 10px black;
  position: relative;
  z-index: 1;
}

/*LOGO*/

header .logo{
  width: 100%;
  height: 250px;
  @include flexCenter();
}

header .logo .circlelogo{
  width: 150px;
  height: 150px;
  border: solid grey 14px;
  border-radius: 250px;
  @include flexCenter();
  animation: bounce 3s ease infinite;
  transition: 1s;
}

header .logo .circlelogo:hover{
  width: 180px;
  height: 180px;
}

@keyframes bounce{
  0% {transform: translateY(0);}
  20% {transform: translateY(-20px);}
  40% {transform: translateY(0);}
  100% {transform: translateY(0);}
}


header .logo .circlelogo img{
  width: 145px;
  transition: 1s;
}

header .logo .circlelogo img:hover{
  width: 190px;
}

/*MENU*/

header nav{
  @extend body;
  width: 100%;
  height: 50px;

}

header nav ul{
  padding: 0;
  list-style: none;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header nav ul li a{
  color: black;
  text-decoration: none;
  font-family: $font;
}

/*PAGE NOT FOUND*/

.errormessage{
  width: 100%;
  font-family: 80px $font;
  text-align: center;
}

/*ALL PAGES*/

.background{
  position: absolute;
  @extend body;
  width: 100%;
  height: 290vh;
  background-image: url(gallery/totoro.jpg);
  background-attachment: fixed;
  background-size: cover;
}

main{
  width: 80%;
  height: 50px;
  margin: auto;
  margin-top: 30px;
  display: flex;
}

/*Second page*/

.totorolyrics{
  font: 25px $font;
  width: 60%;
}
